body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

.center {
    text-align: center;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    font-size: 50px;
}

h2 {
    font-size: 30px;
    text-align: center;
}

h3 {
    color: red;
    text-align: center;
}

h4 {
    color: black;
    text-align: center;
}

p {
    text-align: center;
}

img{
    width: 250px;
    height: 250px;
    border-radius: 00%;
}